body{
  background: linear-gradient(135deg, #c2dde6 0%, #c2dde6 50%, #bccbde 50%, #bccbde 100%);
}
.personalphoto{ width: 530px;
  border-radius: 100%;
}


.instagram-btn{ background: linear-gradient(45deg, #833AB4, #FD1D1D, #FCAF45);
      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 30px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.2s;}

       .facebook-btn {
      background-color: #1877F2;
      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 30px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.2s;
    }
    .fb-button {
    background-color: #1877F2;
    color: white;
    padding: 1px 12px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s;
  }

    .instagram-button {
    color: white;
    padding: 1px 12px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s;
  }
.shadowed-title {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  backdrop-filter: blur(2px);
}

.bg-cover-center {
  background-size: cover;
  background-position: center;
}

.feature-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}
